$sl-dur: var(--sl-dur);
$sl-dx: var(--sl-dx);
$sl-dy: var(--sl-dy);

[data-scrollent] {
  opacity: 0;
  transition-duration: calc($sl-dur * 1ms);
}

[data-scrollent^="none"] {
  opacity: 1;
}

[data-scrollent^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;

  &.scrollent-show {
    opacity: 1;
    transform: none;
  }
}

[data-scrollent^="fade-right"] {
  transform: translate3d($sl-dx, 0, 0);
}

[data-scrollent^="fade-left"] {
  transform: translate3d(calc(-1 * $sl-dx), 0, 0);
}

[data-scrollent^="fade-left-top"] {
  transform: translate3d(calc(-1 * $sl-dx), calc(-1 * $sl-dy), 0);
}

[data-scrollent^="fade-right-top"] {
  transform: translate3d($sl-dx, calc(-1 * $sl-dy), 0);
}

[data-scrollent^="fade-top"] {
  transform: translate3d(0, calc(-1 * $sl-dy), 0);
}

[data-scrollent^="fade-left-bottom"] {
  transform: translate3d(calc(-1 * $sl-dx), $sl-dy, 0);
}

[data-scrollent^="fade-right-bottom"] {
  transform: translate3d($sl-dx, $sl-dy, 0);
}

[data-scrollent^="fade-bottom"] {
  transform: translate3d(0, $sl-dx, 0);
}